.add-button {
  background-color: #61cbfd;
  padding-top: 7px !important;
  /* white-space: normal; */
  font-size: 22px;
  margin: 0px 0px 0px 20px;
  padding: 5px 10px 0 10px;
}
.add-button:hover {
  background-color: #029ce4;
}
