/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background-color: black; */
  background-image: linear-gradient(to right, #f030cd, #61cbfd);
  overflow-x: hidden;
  /* background-image: url("5313770.jpg");
    background-size: cover;
    background-position: center; */
}

/*The CSS class "sr-only" is used to hide element visually from
sighted users while still making them accessible to assistive
technologies such as screen readers (SR), making website more 
inclusive for all users. That's why the name of the class is 
"sr-only", which means "for Screen Readers only". 
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* For Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.header {
  font-size: 2rem;
  color: #2f2f2f;
  font-weight: bold;
  padding: 0 10px 10px 25px;
}
.container {
  max-width: 600px;
  width: 100%;
  border-radius: 15px;
  padding: 0 10px 0 0;
  /* margin: auto; */
  margin: 50px auto 0;
  position: absolute;
  /* position: relative; */
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 5px 10px #747474;
  overflow: hidden;
}

.input-with-button {
  display: flex;
  align-items: center;
  padding: 0 10px 10px 25px;
}

.title {
  font-size: 15px;
  color: #2f2f2f;
}

button {
  outline: none;
  color: #fff;
  border: none;
  padding: 9px 14px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 6px 2px #20212447;
  /* box-shadow: 3.5px 3px 6px 1px #9f9f9f; */
  transition: 0.2s all;
  font-size: 15px;
  margin-left: 10px;
}

button:hover {
  box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;
}

button:active {
  /* Scaling button to 0.98 to its original size */
  transform: scale(0.98);
  /* Emphasize the shadow */
  /* box-shadow: 3px 2px 12px 1px #444444; */
  box-shadow: 2px 2px 6px 2px #20212447;
}

.ListItem {
  /* max-height: 450px; */
  overflow: scroll;
  height: calc(100% - (69px + 155px));
  padding: 0 5px 10px 0;
  /* overflow-y: auto; */
  /* overflow-y: scroll; */
  /* overflow: auto; */
}
/* .ListItem {
    -ms-overflow-style: none;  Internet Explorer 10+
    scrollbar-width: none;  Firefox
}
.ListItem::-webkit-scrollbar { 
    display: none;  Safari and Chrome
} */

.ListItem .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  /*height:auto; */
  background-color: #f2f2f2;
  padding: 10px 15px 15px 15px;
  border-radius: 15px;
  color: #2f2f2f;
  font-size: 1rem;
  position: relative;
  max-width: 411px;
  white-space: normal;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* .ListItem .list:hover { */
/* box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25); */
/* box-shadow: 0 1px 6px 0 #20212447; */
/* } */
.ListItem .list .title {
  width: 100%;
  white-space: normal;
}
.list-with-button {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 10px 0 10px;
}

.container .pending-tasks,
p {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin: 5px 25px;
}
.pending-tasks,
p {
  color: #656a6b;
}
.pending-num {
  color: #000000;
}

/*35em*/
@media screen and (max-width: 393px) {
  /* base! */
  .header {
    font-size: 1.5rem;
    padding: 0px 0px 8px 20px;
  }

  button {
    padding: 4.5px 9px;
    box-shadow: 1.5px 1.5px 4px 1.5px #20212447;
    font-size: 14px;
    margin-left: 5px;
  }

  button:active {
    box-shadow: 1.5px 1.5px 4px 1.5px #20212447;
  }
  .add-button {
    font-size: 17px;
    margin: 0px 0px 0px 15px;
    padding: 0px 8px 1px 8px;
  }

  .ListItem {
    overflow: scroll;
    height: calc(100% - (69px + 145px));
    padding: 0;
  }
  .ListItem .list {
    padding: 10px 12px 10px 12px;
    font-size: 1rem;
    max-width: 235px;
  }

  .list-with-button {
    padding: 10px 10px 0 10px;
  }

  .container .pending-tasks {
    margin: 0 20px;
  }
}
@media (max-width: 280px) {
  .container {
    padding: 5px 2px 0 0;
  }
  .header {
    font-size: 1.5rem;
    padding: 8px 0px 8px 20px;
  }

  .input-with-button {
    padding: 0 10px 10px 15px;
  }

  .title {
    font-size: 13px;
  }

  button {
    padding: 4.5px 8px;
    box-shadow: 1px 1px 3px 1px #20212447;
    font-size: 10px;
    margin-left: 3px;
  }

  button:active {
    box-shadow: 1px 1px 3px 1px #20212447;
  }
  .add-button {
    border-radius: 50%;
    font-size: 13px;
    margin: 0px 0px 0px 15px;
    padding: 5px 8px 2px 8px;
  }

  .ListItem {
    overflow: scroll;
    height: calc(100% - (69px + 140px));
    padding: 0;
  }

  .ListItem .list {
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    max-width: 170px;
  }

  .list-with-button {
    padding: 5px 5px 0 5px;
  }

  .container .pending-tasks {
    margin: 0 0 0 10px;
  }
}
