/* *,
*::before,
*::after,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
} */

/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
} */

.header {
  margin-top: 20px;
  color: #ffffff;
}
/*  OLD --------------------- */
/* .notes-paragraph {
  margin: 5px 25px;
  color: #656a6b;
}
.notes-span {
  font-size: 15px;
  color: #2f2f2f;
  margin-left: 50px;
} */
/*  DARKMODE --------------------- */
.dark-mode {
  background: rgb(255, 255, 255);
}
.dark-mode .header {
  color: #b7b7b7;
}

/* .create-notes {
  min-height: 100vh;
  width: 100vw; 
  background: url("./images/bg.jpg");
   background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
  

.create-notes-container {
  width: 80%;
  height: 100%;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .create-notes-container {
    width: 70%;
  }
} */

/* img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s;
}

a:hover {
  color: var(--color-brand);
}

h1 {
  color: var(--color-brand);
}

ul {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
 */

/* html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
} */
