.dropdown {
  position: relative;
  display: inline-block;
  max-width: 24px;
  max-height: 24px;
  margin-right: 5px;
}
/* h-6 w-6 text-gray-500 */
.dropdown-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-size: 10px;
  /* position: absolute; */
  cursor: pointer;
  margin: 0;
  top: 0px;
  right: 0px;
  /* max-height: 20px;
  max-width: 20px; */
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 0;
}
/*  DARKMODE --------------------- */
.dark-mode {
  color: #2f2f2f;
}

.dropdown-btn:hover {
  color: #a3a3a3;
  box-shadow: none;
}
/* .cancel-button:active {
  color: #4d4d4d;
  box-shadow: none;
} */

.dropdown ul {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 0;
  min-width: 12.5rem;
  list-style: none;
  background-color: #fffefe;
  border-radius: 15px;
  /* border: 1px solid #ccc; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover ul {
  display: block;
  border-radius: 15px;
}

.dropdown li {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: hsla(34, 88%, 93%, 0.5);
  /* background-color: #e8e8e8; */
  border-radius: 15px;
}
/* .arrow {
  padding: 1px;
  width: 25px;
  height: 25px;
  position: relative;
  right: 16px;
} */

.arrow-up-down {
  padding: 1px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 16px;
}
@media (max-width: 280px) {
  .dropdown {
    margin-right: 18px;
  }
}
