.top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .dropdown-component {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  justify-content: right;
  margin: 15px 15px 0px 0px;
} */
