/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(to right, #f030cd, #61cbfd);
  /* background-image: url("5313770.jpg");
    background-size: cover;
    background-position: center; */
} 
/* For Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.header {
  font-size: 2rem;
  color: #2f2f2f; 
  padding: 0 10px;
}
.navigation {
  /* border: 1px solid rgb(63, 92, 237); */
  width: 95%;
  margin: 25px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navigation a {
  margin-left: 10px;
  color:#fdd4f6
}
.navigation a:hover {
  color:#a50087
}
.container {
  max-width: 600px;
  width: 100%;
  border-radius: 15px;
  padding: 25px 15px;
  margin: auto;
  /* margin: 85px auto 0; */
  position: absolute;
  /* position: relative; */
  top:50px;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 5px 10px #747474; 
  overflow: hidden;
}
.container .input-field {
  position: relative;
  height: 50px;
  width: 100%;
}
.input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 15px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  resize: none;
  margin: 0px 5px;
}
.input-field input:focus {
  border-color: #fb8ce2;
  box-shadow: 3.5px 3px 6px 1px #9f9f9f; 
  border: 1px solid #fb8ce2
}

.input-with-button {
  display: flex;
  align-items: center;
  padding: 0 10px 10px;
}

.title {
  font-size: 20px;
  color:#2f2f2f
}
.title-checked {
  font-size: 20px;
  color:#2f2f2f;
  text-decoration: line-through;
}
.add-button {
    outline: none;
    border: none;
    background-color: #61cbfd;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    /* padding: 10px; */
    /* white-space: normal; */
    box-shadow: 3.5px 3px 6px 1px #9f9f9f; 
    transition: 0.2s all;
    margin: 0px 0px 0px 10px;
    padding: 9px 16px;

  }
    .add-button:hover {
        background-color: #029ce4;
        box-shadow: inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
    }
    .add-button:active {
      /* Scaling button to 0.98 to its original size */
      transform: scale(0.98);
      /* Emphasize the shadow */
      box-shadow: 3px 2px 12px 1px #444444; 
  }

.container .ListItem {
  /* max-height: 450px; */
  overflow: scroll; 
  height: calc(100% - 69px);
  padding: 0 10px 10px 0;
  /* overflow-y: auto; */
  /* overflow-y: scroll; */
  /* overflow: auto; */
  
}
/* .ListItem {
    -ms-overflow-style: none;  Internet Explorer 10+
    scrollbar-width: none;  Firefox
}
.ListItem::-webkit-scrollbar { 
    display: none;  Safari and Chrome
} */

.ListItem .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  /*height:auto; */
  background-color: #f2f2f2;
  padding: 15px 20px;
  border-radius: 15px;
  color: #2f2f2f;
  font-size: 1rem;
  position: relative;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}
.ListItem .list:hover {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
}
.ListItem .list .title{
  width: 100%;
  white-space: normal;
}
.list-with-button{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 10px 0 10px;
}
  .delete-button {
    background-color: #f282dd;
    color: #fff;
    border: none;
    padding: 9px 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3.5px 3px 6px 1px #9f9f9f; 
    transition: 0.2s all;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #f030cd;
    box-shadow: inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC; 
  }
  .delete-button:active {
    /* Scaling button to 0.98 to its original size */
    transform: scale(0.98);
    /* Emphasize the shadow */
    box-shadow: 3px 2px 12px 1px #444444; 
}

.check-circle {
  font-size: 15px;
  color: #fff;
  background-color: #777777;
  border-radius: 50%;
  height:22px;
  width:27px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  margin-right: 10px;
  opacity: 0.6;
}
.check-circle:hover {
  opacity: 1;
  color: #464646;
  background-color: #fff;
  box-shadow: inset 0px 11px 8px -10px #242424,
  inset 0px -11px 8px -10px #242424; 
}
.check-circle:active {
  /* Scaling button to 0.98 to its original size */
  transform: scale(0.98);
  /* Emphasize the shadow */
  box-shadow: 3px 2px 12px 1px #444444; 
}
.check-circle-checked {
  font-size: 15px;
  color: #242424;
  background-color: #777777;
  border-radius: 50%;
  height:22px;
  width:27px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  margin-right: 10px;
  opacity: 1;
}

.container .pending-tasks {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin-top: 25px;
}
.pending-tasks span {
  color: #656a6b
}
@media screen and (max-width: 350px) {
  .container {
    padding: 25px 10px;
  }
}
/* @media(max-width:768px){
  .navigation{
    align-items:center;
    flex-direction: column;
  }
} */
